#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  row-gap: 50px;
}

.aboutContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.aboutTitle {
  background: rgba(30, 31, 34, 0.95);
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px #ffffff50;
  border-radius: 8px;
  margin: 0;
}

.aboutDescription {
  max-width: 50vw;
  background: rgba(30, 31, 34, 0.95);
  border: 4px solid #ffd000;
  border-radius: 8px;
  padding: 0 10px;
}

.descriptionParagraph {
  font-size: 1.2rem;
  text-shadow: 2px 2px 4px #ffffff50;
}

.socialList {
  display: flex;
  gap: 20px;
  background: rgba(30, 31, 34, 0.95);
  border-radius: 8px;
}

.socialLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  column-gap: 5px;
  color: white;
  border: 4px solid #ffd000;
  border-radius: 8px;
  padding: 5px;
}

.socialLink:hover {
  filter: brightness(0.5);
}

.aboutSkillsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skillsList {
  display: flex;
  justify-content: center;
  list-style-type: none;
  background: rgba(30, 31, 34, 0.95);
  border: 4px solid #ffd000;
  border-radius: 8px;
  gap: 30px;
  padding: 10px;
}

.skillItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skillIcon {
  font-size: 50px;
}

.skillText {
  font-size: 1rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px #ffffff50;
}

.aboutFormationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formationList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  background: rgba(30, 31, 34, 0.95);
  border: 4px solid #ffd000;
  border-radius: 8px;
}

.formationItem {
  list-style-type: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-shadow: 2px 2px 4px #ffffff50;
}

@media (max-width: 1024px) {
  .aboutDescription {
    max-width: 60vw;
  }

  .descriptionParagraph {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .descriptionParagraph {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .skillsList {
    gap: 10px;
    width: 90%;
  }

  .skillIcon {
    font-size: 40px;
  }

  .skillText {
    font-size: 0.8rem;
  }

  .formationList {
    width: 70%;
  }
}
