footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(30, 31, 34, 0.95);
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  row-gap: 5px;
}

.footerText {
  margin: 0;
}

.footerLink {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}
